@model IEnumerable<EFGetStarted.AspNet5.NewDb.Models.Contacto>

@{
    ViewBag.Title = "Contactos";
}

<h2>Contactos</h2>

<p>
    <a asp-controller="Contactos" asp-action="Create">Create New</a>
</p>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Teléfono</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContactoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
        </tr>
    }
</table>